[Desktop Entry]
Name=Qstit
GenericName=Subtitle prompter
Comment=Project extra subtitles over live film projection or event
Keywords=nova;sous-titres;
Exec=qstit
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/x-srt;text/plain;application/x-subrip;
Icon=qstit
Categories=AudioVideo;AudioVideoEditing;Player;Qt;Education;Languages;
