[Desktop Entry]
Name=Qstit
GenericName=Surtitling software
Comment=Project and manipulate extra subtitles live
Keywords=nova;sous-titres;surtitres;supertitles;
Exec=qstit
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/x-srt;text/plain;application/x-subrip;
Icon=qstit
Categories=AudioVideo;AudioVideoEditing;Player;
